<!DOCTYPE html>
{% load staticfiles %}
{% load user_agents %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Meta for description, keywords, favicon, responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1">
    <meta name="description" content="Alpha Omega San Diego is a ministry devoted to helping students
    know God and make God known on the college campuses of San Diego County.">
    <meta name="keywords" content="San Diego campus ministry, San Diego, SDSU, youth group, college group,
    Christian, Christianity, college ministry, Mesa, Grossmont, USD, UCSD, church, bible, bible study, family, sutdents,
    God, Jesus">
    <link rel="icon" type="image/png" href="{% static 'graphics/aologo.png' %}">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Script CDNs -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Title -->
    <title>Alpha Omega San Diego</title>

  </head>

  <body onload="reloadFrame()">
    <!-- CSS Styling -->
    <style>
      h1 {
        font-family: 'Oswald', sans-serif;

        {% if request|is_mobile %}
          font-size: 3em;
        {% else %}
          font-size: 4em;
        {% endif %}
      }
      html, body {
        background-image: url("{% static 'graphics/sdbgblur.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        margin: 0;
      }

      .header-margin{
        padding-top:15%;
      }

    </style>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-transparent", id="navvie">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand brand" onclick="scrollToTop()"> <img class = "img-fluid" src="{% static 'graphics/aoheaderlogo.png' %}" alt="logo"> </a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skeleton:front' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skeleton:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skeleton:connect' %}">Connect</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skeleton:events' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'skeleton:gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="fa fa-facebook sm-icon" href="https://www.facebook.com/AOSDCampus/" target="_blank"></a>
              <a class="fa fa-instagram sm-icon" href="https://www.instagram.com/aosd.mission/?hl=en" target="_blank"></a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer class="footer color-white">
      <div class="container">
        <div class="row">
          <div class="col foot-col">
            <img src="{% static 'graphics/aologo.png'%}" alt="ALPHA OMEGA">
          </div>
          <div class="col">
            <h4><b>JOIN US</b></h4>
            <p><span style="color:gold">Midweek</span>: Every Tuesday at 7:30 PM.<br>4579 Mission Gorge Pl, San Diego, CA 92120</p>
          </div>
          <div class="col">
            <p><span style="color:gold">Sundays</span>: Morning service at 10 AM.<br>6702 Wandermere Dr, San Diego, CA 92120</p>
          </div>
          <div class="col">
            <h4><b>CONTACT US</b></h4>
            <a href="https://www.facebook.com/AOSDCampus/" target="_blank" class="fa fa-facebook fa-2x foot-icon"></a>
            <a href="https://www.instagram.com/aosd.mission/?hl=en" target="_blank" class="fa fa-instagram fa-2x foot-icon" ></a>
            <a href="mailto:aosdcampus@gmail.com" class="fa fa-envelope-o fa-2x foot-icon"></a>
          </div>
        </div>
      </div>

      <hr>
      <div class="text-center">
        <span class="copyright">DesByTT. Copyright &copy; 2020</span>
      </div>
    </footer>

    <!-- Script for scrolling to top on logo click -->
    {% if request|is_mobile %}
      <script type="text/javascript">
        $('.navbar').removeClass('bg-transparent');
      </script>
    {% else %}
      <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
      //scroll to top on logo click
      function scrollToTop() {
           window.scrollTo(0, 0);
      }
      function reloadFrame(){
        frame = document.getElementById('eventFrame');
        frame.src = frame.src;
      }

    </script>

  </body>
</html>
