{% extends 'skeleton/base.html' %}
{% load staticfiles %}
{% load user_agents%}

{% block content %}

<!-- CSS Styling -->
<style>
  .mobile-front{
    background-image: url("{% static 'graphics/bowling-mobile.jpg' %}");
    position: relative;
    display:flex;
    z-index:100;
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: center center;
  }

  .connect-jumbo{
    background-image: url("{% static 'graphics/midweek-centered.jpg' %}");
    background-size: cover;
    margin-bottom: 0px;
  }
</style>
<link rel="stylesheet" href="{% static 'css/front.css'%}">

<!-- Front Page -->
{% if request|is_mobile %}
  <!-- Cover Logo -->
  <div class="text-center align-middle mobile-front">
    <img class ="mobile-logo" src = "{% static 'graphics/Background.png' %}" alt="LOGO">
  </div>
{% else %}
  <!-- Cover Logo -->
  <div class="text-center desktop-logo-frame">
    <img class = "desktop-logo" src = "{% static 'graphics/ao-frontlogo.png' %}" alt="LOGO">
  </div>
  <!-- Carousel -->
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
      <li data-target="#carousel" data-slide-to="5"></li>
      <li data-target="#carousel" data-slide-to="6"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="carousel-item active" alt = "1st slide"><img class = "carimg" src="{% static 'graphics/bowling.jpg' %}" alt="img"> </div>
      <div class="carousel-item" alt = "2nd slide"> <img class = "carimg" src="{% static 'graphics/aogirls.jpg' %}" alt="img"> </div>
      <div class="carousel-item" alt = "3rd slide"> <img class = "carimg" src="{% static 'graphics/candid.jpg' %}" alt="img"> </div>
      <div class="carousel-item" alt = "4th slide"> <img class = "carimg" src="{% static 'graphics/beach.jpg' %}" alt="img"> </div>
      <div class="carousel-item" alt = "5th slide"> <img class = "carimg" src="{% static 'graphics/football-wide.jpg' %}" alt="img"> </div>
      <div class="carousel-item" alt = "6th slide"> <img class = "carimg" src="{% static 'graphics/abyjack-wide.jpg' %}" alt="img"> </div>
      <div class="carousel-item" alt = "7th slide"> <img class = "carimg" src="{% static 'graphics/broomball.jpg' %}" alt="img"> </div>
    </div>
  </div>
{% endif %}

<!-- Who We Are -->
{% if request|is_mobile%}
  <div class="weare-jumbo">
    <div class="container text-center">
      <div class="jumbotron">
        <h1 style="font-size:3em"><b>WELCOME TO ALPHA OMEGA</b></h1>
        <hr>
        <p>We are one campus ministry operating as four sub-ministries, to best reach the colleges throughout all of San Diego.
          <b>Our goal is to support students from all walks of life to best connect with Jesus.</b>
          As imperfect people we aim to use scriptures and prayer to direct us on how we should live.</p>
      </div>
    </div>
  </div>
{% else %}
  <div class="weare-jumbo">
    <div class="container text-center">
      <div class="row">
        <div class="col text-center">
          <img class = "weare-img" src="{% static 'graphics/old.jpg' %}" alt="we are">
        </div>
        <div class="col">
          <div class="jumbotron">
              <h1><b>WELCOME TO ALPHA OMEGA</b></h1>
              <hr>
              <p>We are one campus ministry operating as four sub-ministries, to best reach the colleges throughout all of San Diego.
                <b>Our goal is to support students from all walks of life to best connect with Jesus.</b>
                As imperfect people we aim to use scriptures and prayer to direct us on how we should live.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- I'm New -->
<div class="new-cont">
  <div class="container text-center">
    {% if request|is_mobile %}
      <h1 style="font-size:1.9em">"I'm new! I would like to..."</h1>
      <ul class="list-unstyled">
        <li><a role="button" class="new-btn" href="{% url 'skeleton:events' %}"> COME TO AN EVENT </a></li>
        <li><a role="button" class="new-btn" href="#connect_jumbo"> STUDY THE BIBLE </a></li>
        <li><a role="button" class="new-btn" href="{% url 'skeleton:connect'%}"> GET INVOLVED </a></li>
        <li><a role="button" class="new-btn" href="{% url 'skeleton:about' %}"> LEARN MORE ABOUT AO </a></li>
        <li><a role="button" class="new-btn" href="#connect_jumbo"> ASK A QUESTION </a></li>
      </ul>
    {% else %}
    <h1>"I'm new! I would like to..."</h1>
    <div class="row" style="margin-top:30px">
      <a role="button" class="new-btn" href="{% url 'skeleton:events' %}"> COME TO AN EVENT </a>
      <a role="button" class="new-btn" href="#connect_jumbo"> STUDY THE BIBLE </a>
      <a role="button" class="new-btn" href="{% url 'skeleton:connect'%}"> GET INVOLVED </a>
      <a role="button" class="new-btn" href="{% url 'skeleton:about' %}"> LEARN MORE ABOUT AO </a>
      <a role="button" class="new-btn" href="#connect_jumbo"> ASK A QUESTION </a>
    </div>
    {% endif %}
  </div>
</div>

<!-- Upcoming -->
{% if request|is_mobile %}
<div class="text-center">
  <h1 class='bordered-header upheader'>UP & COMING</h1>
</div>
<div class="accordion text-center" id="upcoming">
  <div class="card upcard">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h1>Campus Event</h1>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#upcoming">
      <div class="card-body">
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="https://cdn.lightwidget.com/widgets/be14ccb2dffd5b238d6f9bb9efdb8631.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        <p>Join us this Friday! Click above to find out more.</p>
      </div>
    </div>
  </div>

  <div class="card upcard">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h1>Midweek Service</h1>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#upcoming">
      <div class="card-body">
      <img src="{% static 'graphics/northmidweek-sq.jpg' %}" alt="midweek">
      <p>Tuesday at 7:30 PM @ SDPAC <br> 4579 Mission Gorge Pl, San Diego, CA 92120 </p>
      </div>
    </div>
  </div>

  <div class="card upcard">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <b><h1>Sunday Service</h1></b>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#upcoming">
      <div class="card-body">
        <img src="{% static 'graphics/sunday.jpg' %}" alt="midweek">
        <p>Sunday at 10 AM @ Henry High <br> 6702 Wandermere Dr </p>
        <p></p>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="container text-center upheader">
  <h1 class="bordered-header">UP & COMING</h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <h5 class="card-header">Campus Event</h5>
        <div class="card-body">
          <!-- LightWidget WIDGET -->
          <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
          <iframe src="https://cdn.lightwidget.com/widgets/be14ccb2dffd5b238d6f9bb9efdb8631.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
        <div class="card-footer">
          <p>Join us this Friday evening! Click above to find out more.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h5 class="card-header">Sunday Service</h5>
        <div class="card-body">
          <img src="{% static 'graphics/sunday.jpg' %}" alt="midweek" style="overflow:hidden; width:100%;height:auto">
        </div>
        <div class="card-footer">
          <p>Sunday at 10 AM @ Henry High <br> 6702 Wandermere Dr </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h5 class="card-header">Midweek Service</h5>
        <div class="card-body">
          <img src="{% static 'graphics/northmidweek-sq.jpg' %}" alt="midweek" style="overflow:hidden; width:100%;height:auto">
        </div>
        <div class="card-footer">
          <p>Tuesday at 7:30 PM @ SDPAC <br> 4579 Mission Gorge Pl</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Connect -->
{% if request|is_mobile%}
  <div class="jumbotron connect-jumbo">
    <div class = "connect-cont text-center" style="width:100%">
      <h1>Let's Connect</h1>
      <p class="text-right"style='font-family: cambria;'><i>"The best time to plant a tree was 20 years ago.
        <br> The second best time is now."</i> </p>
      <p>Want to connect about your past, present or future walk with God but don't know where to begin? We're here to help: just let us know below!</p>
      <!-- Signup Form -->
      <form method="POST" onsubmit="alert('Thank you for connecting! We will get back to you shortly.');">
        {% csrf_token %}
        {% for field in connection_form %}
        <div class="connect-form-div">
            {{ field.errors }}
            {{ field.label_tag }} <br>
            {{ field }}<br>
        </div>
        {% endfor %}
        <div class="text-center">
          <input type="submit" class='btn btn-warning btn-lg' value="Connect">
        </div>
      </form>
    </div>
  </div
{% else %}
  <div class="jumbotron connect-jumbo">
    <div class = "container connect-cont text-center" style="max-width:50%">
      <h1>Let's Connect</h1>
      <p class="text-right"style='font-family: cambria;'><i>"The best time to plant a tree was 20 years ago.
        <br> The second best time is now."</i> </p>
      <p>Want to connect about your past, present or future walk with God but don't know where to begin? We're here to help: just let us know below!</p>
      <!-- Signup Form -->
      <form method="POST" onsubmit="alert('Thank you for connecting! We will get back to you shortly.');">
        {% csrf_token %}
        {% for field in connection_form %}
        <div class="connect-form-div">
            {{ field.errors }}
            {{ field.label_tag }} <br>
            {{ field }}<br>
        </div>
        {% endfor %}
        <div class="text-center">
          <input type="submit" class='btn btn-warning btn-lg' value="Connect">
        </div>
      </form>
    </div>
  </div>
{% endif %}


<!-- Carousel Script -->
<script type = "text/javascript">
  $('.carousel').carousel({
    interval: 6000
  })
</script>

{% endblock %}
