{% extends 'skeleton/base.html' %}
{% load staticfiles %}

{% block title %}
AOSD Gallery
{% endblock %}

{% block content %}

  <h1 class="header-text header-margin text-center">GALLERY</h1>

  <div class="jumbotron page-bg">
    <div class="container text-center">
      <div class='embedsocial-instagram' data-ref="0175a739340257a6670c2ff9bc276720e5701814"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script></div>
  </div>

{% endblock %}
