{% extends 'skeleton/base.html' %}
{% load staticfiles %}

{% block content %}

  <div style="text-align:center; padding-top: 15%">
    <h1 class="header-text">GALLERY</h1>
  </div>

  <div class="jumbotron page-bg">
    <div class="container text-center">
      <!-- LightWidget WIDGET -->
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4bac48714c5e5aafb622727dbba77fb9.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </div>


{% endblock %}
