{% extends 'skeleton/base.html' %}
{% load staticfiles %}
{% load user_agents %}

{% block title %}
Strange Game?
{% endblock %}

{% block content %}

  <script type="text/javascript">

    let questions = [
      "What is your favorite scripture?",
      "What do you love most about God?",
      "What has forced you to grow the most this past year?",
      "Both of you think of your favorite TV show. Count to 3 and say them out loud!",
      "What is your favorite song (Christian and non-Christian)? Why?",
      "What compliment do you think I hear most?",
      "Do I seem like a coffee or tea person? Sweetened or unsweetened?",
      "What is one thing the year of COVID taught you?",
      "If myspace was still a thing, what would my profile song be?",
      "If you were to buy me a present knowing nothing about me other than what you see on camera, what would it be?",
      "What's the first thing that intrigued you about me?",
      "Do you think plants thrive or die in my care? Explain",
      "What about me is strange or most unfamiliar to you?",
      "Grab a pen and paper. Set a timer for one minute. Draw a portrait of each other until the timer runs out.",
      "Do I seem like a more creative or analytical type? Explain.",
      "Make an assumption about me (both players).",
      "What do you think is the hardest part of what I do for a living?",
      "What is the most fun you have ever had?",
      "Describe the best day you'd ever had.",
      "Describe the perfect date or the perfect day off.",
      "What's been the most challenging part of following Jesus to you?",
      "What is a compliment you wish you heard more?",
      "What area of your life do you see God working to change you right now?",
      "Describe your best friends.",
      "How can I pray for you?",
      "What do you think I'm most likely to splurge on?",
      "Do I remind you of anyone?",
      "What is something you wouldn't want to change about yourself?",
      "What is one thing you'd love to see God do in your life this year?",
      "What is a Kingdom dream of yours?",
      "Describe something that changed your life or walk with God.",
      "What are your parents' names? Tell me one thing about them.",
      "What is something you really miss?",
      "What question are you trying to answer most in your life right now?",
      "Both players write down the 3 most important things to you. Then compare.",
      "How are you doing?",
      "What spiritual topic do you wish you knew more about?",
      "What are you most looking forward to in life?",
      "Call someone you admire and tell them why you appreciate them (on speaker).",
      "What are you more afraid of, failure or success? Why?",
      "Play a song that means a lot to you for 15 seconds. What does it mean to you?",
      "Staring contest. Loser has to ask the winner for advice about something.",
      "What song never fails to hype you up?",
      "Make up a question. Make it count.",
      "What is your mother's name? What is the most beautiful thing about her?",
      "What is a dream you've let go of?",
      "What do you most desire in a friend? What about a spouse? Why?",
      "If you could get to know someone in your life on a deeper level, who would it be and why?",
      "Are you missing anyone right now?",
      "Do you think the image of yourself matches the image other people see you as?",
      "What are you still trying to prove to yourself?",
      "What do you think I fear the most?",
      "If you could prescribe me one thing (to do or have) for the rest of the month, what would it be?",
      "What do you think my superpower is/would be?",
      "What about me is hardest for you to understand?",
      "What parts of yourself do you see in me?",
      "Share one thing that encourages you about your date.",
      "Share one compliment you don't think your date hears enough.",
      "What would be your nicknames for each other?",
      "what do you think I should know about myself that I might be unaware of?",
      "What makes you laugh?",
      "Both of you take 1-2 minutes to go on Spotify/Apple and find 3 songs that describe your date or would be a good reccomendation.",
      "Both of you share something you're most grateful for in this current moment",
      "If we were in a band, what do you think our name would be?",
      "How does one earn your trust or vulnerability? How does one connect with you?",
      "What is a talent you really wish you'd had?",
      "What is one thing about the way God made you that you love?",
      "What are you a natural at?",
      "What are you most proud of?",
      "What about God blows you away?",
      "What do you do with a free afternoon?",
      "What is a dream you're still praying for?",
      "What's one thing you're really passionate about?"
    ];

    $(document).ready(() => {

      $("#draw").click(() => {
        let item = questions.splice(Math.floor(Math.random() * questions.length), 1);
        $("#question").text(item);
      });

    });

  </script>

  <style>
    #word {
      border: 1px solid black;
      color: orange
    }
  </style>

  <h1 class="header-text header-margin text-center">STRANGERS</h1>
  <div class="jumbotron page-bg">
    <div class="container text-center">
      <a role="button" id="draw" class="roll btn btn-danger btn-lg">DRAW QUESTION</a>
      <br><br>
      <h1 id="question">DON'T HIT THE BUTTON UNTIL THE GAME STARTS.<h1>
    </div>
  </div>



{% endblock %}
