/* Styling for carousel */
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .carousel-item, .active.left, .active.right {
            opacity: 0;
        }

        .active, .next.left, .prev.right {
            opacity: 1;
        }

        .next, .prev, .active.left, .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel, .carousel-inner, .carousel-inner .carousel-item {
    max-height:100%;
    overflow: hidden;
}

.carimg{
  position: relative;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.mobile-logo{
  max-width:90%;
  max-height:90%;
  margin:auto;
}

.desktop-logo{
  max-width:50%;
  max-height:50%;
  margin-top:10%;
}

.desktop-logo-frame{
  position: absolute;
  z-index:100;
  height: 100%;
  width:100%
}

/* Styling for We Are Statement */
.weare-img{
  height: 90%;
  border-radius: 50%;
}

.weare-jumbo{
  background-color: rgba(255, 255, 255, 0.8);
}

.weare-jumbo .container{
  padding-top: 50px; padding-bottom: 30px;
}

.weare-jumbo .jumbotron{
  border:1px solid black;
  background-color: rgba(0, 0, 0, 0);
}

/* Styling for I'm New */
.new-cont{
  background-color: rgba(132,155,170,1);
  color:white;
}

.new-cont .container{
  padding: 30px 40px 30px;
}

.new-btn {
  border: 1px solid white;
  font-size: 1em;
  margin: auto;
  color:white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 10px;
  display: inline;
}

.list-unstyled li{
  margin-top:35px;
}

.new-btn:hover {
  background-color: rgba(63, 81, 95, 1);
  text-decoration: none;
  color: white;
}

/* Styling for Upcoming */
.upheader{
  margin-bottom:20px; margin-top:30px;
}

.upcard{
  border-radius: 0;
  border: 1px solid grey;
  border-left: 0;
  border-right: 0;
  background-color: rgba(100, 100, 100, 0.7);
}

.upcard img{
  overflow:hidden;
  width:100%;
  height:auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card .btn, .upcard .card-body {
  color:white;
}

.card h1{
  font-size: 2em;
}

/* Styling for Connection Form */

.connect-jumbo .btn{
  margin-top: 30px;
}

.connect-cont{
  color: white;
  background-color: rgba(50, 50, 50, 0.90);
  padding: 30px;
  width: 60%;
}


.connect-form-div{
  margin-bottom: 10px;
}

input, input[type=text], textarea{
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  overflow: hidden;
}
